@import "tailwindcss";

@theme {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: "Georgia", serif;
}

body {
  background-color: var(--color-slate-950);
  color: var(--color-slate-100);
}